

/* Global settings */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.05em;
    line-height: 1.5em;
    font-weight: bold;
    background-color: #f0f0f0;
}


/* Navigation bar */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;

}
  
nav a {
    color: black;
    text-decoration: none;
    padding: 0.5rem;
}
  
nav a:hover {
    color: #AAA;
}

h1{
    left: 20px;
}


.logo{
    display: flex;
    align-items: center;
}

.logo p{
    font-size: larger;
}
  
#header-logo {
    width: 5em;
    transition-duration: 1s;
}
  
#nav-navigation {
    display: flex;
}
  
#nav-navigation p {
    padding: 0 1em;

}


/* Sections */


#title{
    text-align: center;
}


h3{
    font-size: xx-large;
}


section{
    border: 0.2em solid #dedede;
    border-radius: 30px;

    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 50px;

    padding-left: 5%;
    padding-top: 30px;
    padding-bottom: 30px;

    font-size: large;
    background-color: #f6f6f6;

}


.docs-container{
    line-height: 2em;
    font-size: 1.05em;
}




.verbali{
    padding-top: 45px;
    font-size: 1.15em;
}

